
 <div class="score">
	  <b>{{teamData.to_bat}}: {{getStats.total_run}}/{{getStats.wicket}}</b><br>
	  <label>Overs:{{getStats.over}}.{{getStats.ball}}</label><br>
	  <label>Bowling:</label>
	  <b>{{teamData.to_bowl}}</b>
 </div>

 <div>
     <a class="btn btn-default" href="#/play">Full Scorecard</a>
 </div>

<div class="container">          
  <table class="table table-striped">
     <thead>
      <tr>
        <th>Overs</th>
        <th>Run per Ball</th>
        <th>Scenario</th>
        <th>Live! Ball by ball Commentary</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in gameData | limitTo:getStats.indexOfScore+1">
        <td><a href="#/play/{{item.over}}/{{item.ball}}">{{item.over}}.{{item.ball}}</a></td>
        <td>{{item.run_per_ball}}</td>
        <td>{{item.score}}</td>
        <td>{{item.comments}}</td>
      </tr>     
    </tbody>
  </table>
</div>
